@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



    <h1>Welcome to my test</h1>

<form method="post" >
    <h3 class="mb-4 text-center">📬 Message Registration</h3>

    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name"  name="Name" placeholder="Enter your name" required>
    </div>



    <div class="d-grid">
        <button type="submit" class="btn btn-success">Send Message</button>
    </div>
</form>